.avatar-container {
  &.size- {
    &small {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 24px;
      height: 24px;
      background: transparent;
      border: none;
      box-shadow: none;
    }

    &large {

    }
  }
  .avatar{
    overflow: hidden;
    border-radius: 100%;
    width: 48px;
    height: 48px;
  }
}
