.avatar-container {
  background: var(--user-app-bg);
  &.size- {
    &small {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      border: none;
      box-shadow: none;
      .avatar{
        width: 24px;
        height: 24px;
      }
    }

    &large .avatar{
      width: 48px;
      height: 48px;
    }
  }
  .avatar{
    overflow: hidden;
    border-radius: 10%;
  }
}
