.navbar-wrapper{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  > * {
    display: inline-flex;
    align-items: center;
  }
  a {
    color: white;
  }
}

.bold{
  font-weight: 600;
}
